.admin-page {
  height: 100vh;
}

.content {
  margin: 20px;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.sidebar-link-icon {
  margin-right: 16px;
}

::ng-deep .mat-toolbar{
  z-index: 2;
  position: fixed
}

// TODO: Check addind activeRouter class to a tags for future use
.mat-nav-list a.active {
  background-color: #1856c9;
}


// TODO: Check all commented code

// ::ng-deep .mat-tab-group{
//   margin-top:55px !important;
// }

// ::ng-deep .mat-tab-header{
//       z-index: 999;
//       width:100vw;
//       position: fixed  !important;
//       background-color: red !important;
// }
// ::ng-deep .mat-tab-body-wrapper{
//     position: relative !important;
//     margin-top:55px;
// }
// .content {
//   padding-top: 65px;
// }