/* You can add global styles to this file, and also import other style files */

// IMPORT ANGULAR MATERIAL THEME 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// OR IMPORT YOUR OWN THEME SETUP ( more info in import file )
// @import "assets/styles/custom_theme.scss";

// Add the material icons from the Google CDN
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

// Add style for tostr
@import '~ngx-toastr/toastr.css';

body {
  margin: 0;
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.full-width {
  width: 100%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}