$defaultSize: 8px;

.mt-1 {
  margin-top: $defaultSize !important;
}

.mt-2 {
  margin-top: $defaultSize * 2 !important;
}

.mt-3 {
  margin-top: $defaultSize * 3 !important;
}

.mt-4 {
  margin-top: $defaultSize * 4 !important;
}

.mt-5 {
  margin-top: $defaultSize * 5 !important;
}

.mb-1 {
  margin-bottom: $defaultSize !important;
}

.mb-2 {
  margin-bottom: $defaultSize * 2 !important;
}

.mb-3 {
  margin-bottom: $defaultSize * 3 !important;
}

.mb-4 {
  margin-bottom: $defaultSize * 4 !important;
}

.mb-5 {
  margin-bottom: $defaultSize * 5 !important;
}

.ml-1 {
  margin-left: $defaultSize !important;
}

.ml-2 {
  margin-left: $defaultSize * 2 !important;
}

.ml-3 {
  margin-left: $defaultSize * 3 !important;
}

.ml-4 {
  margin-left: $defaultSize * 4 !important;
}

.ml-5 {
  margin-left: $defaultSize * 5 !important;
}

.mr-1 {
  margin-right: $defaultSize !important;
}

.mr-2 {
  margin-right: $defaultSize * 2 !important;
}

.mr-3 {
  margin-right: $defaultSize * 3 !important;
}

.mr-4 {
  margin-right: $defaultSize * 4 !important;
}

.mr-5 {
  margin-right: $defaultSize * 5 !important;
}